.postdetail-box {
  position: relative; /* 상대 위치 설정 추가 */
  padding: 20px; /* 내부 여백 추가 */
  border: 1px solid #ccc; /* 테두리 추가 */
  border-radius: 8px; /* 모서리 둥글게 */
  background-color: white;
  max-width: 800px; /* 최대 너비 설정 */
  margin: 40px auto 0; /* 위쪽 여백 추가 및 가운데 정렬 */
}

.postdetail-box h1 {
  font-size: 28px; /* 글꼴 크기 */
  font-weight: bold; /* 글꼴 굵기 */
  margin-top: 5px;
  margin-bottom: 10px; /* 아래쪽 여백 */
  color: #333; /* 글꼴 색상 */
}

.postdetail-box p {
  font-size: 16px; /* 글꼴 크기 */
  line-height: 2.5; /* 줄 간격 */
  margin-top: -5px;
  margin-bottom: 15px; /* 아래쪽 여백 */
  margin-left: 3px; /* 글씨 앞 여백 */
}

.post-image {
  max-width: 100%;
  max-height: 230px;
  margin-bottom: 10px;
}

.toggle-button {
  position: absolute;
  top: -10px; /* 버튼의 위치 조정 */
  right: 20px; /* 버튼의 위치 조정 */
  background: transparent; /* 배경색 투명 설정 */
  border: none;
  cursor: pointer;
  padding: 0; /* 추가된 여백 제거 */
  width: 30px; /* 버튼 크기 조정 */
  height: 30px; /* 버튼 크기 조정 */
}

.toggle-button img {
  width: 100%; /* 이미지가 버튼 크기에 맞도록 조정 */
  height: 100%; /* 이미지가 버튼 크기에 맞도록 조정 */
}

.toggle-button:hover {
  background: transparent; /* 배경색 투명 유지 */
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 55px; /* 버튼의 위치 조정 */
  right: 20px; /* 버튼의 위치 조정 */
  background-color: #fff; /* 배경색 추가 */
  border: 1px solid #ccc; /* 테두리 추가 */
  border-radius: 4px; /* 모서리 둥글게 */
  padding: 10px; /* 내부 여백 추가 */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
}

.edit-button, .delete-button {
  background-color: #F2CB61;
  border: none;
  cursor: pointer;
  margin-top: 5px;
  display: flex; /* 플렉스 박스로 설정 */
  justify-content: center; /* 가로 가운데 정렬 */
  align-items: center; /* 세로 가운데 정렬 */
  text-align: center; /* 텍스트 가운데 정렬 */
  height: 40px; /* 버튼 높이 설정 */
  width: 100px; /* 버튼 너비 설정 */
  border-radius: 4px; /* 버튼 모서리 둥글게 */
}

.comments-section {
  margin-top: 70px;
}

.comments-section h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.comments-section ul {
  list-style-type: none;
  padding: 0;
}

.comments-section li {
  margin-bottom: 5px;
}

.comments-section p {
  margin: 0;
}

.comments-section textarea {
  width: 85%;
  height: 20px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: none;
}

.comment-item {
  border-bottom: 1px solid #ccc;
  padding-bottom: 30px; /* 변경된 값 */
}


.comments-section .comment-button {
  width: 70px;
  height: 43px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #F2CB61;
  color: white;
  text-align: center;
  line-height: 10px;
  margin-right: 10px;
  margin-top: -56px;
}

.comments-section .comment-button:hover {
  background-color: #CCA63D;
}

/* 수정 모드 입력 필드 공통 스타일 */
.edit-input,
.edit-textarea {
  width: 800px;
  padding: 10px;
  margin-top: 70px; /* 입력 필드의 상단 여백 */
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
}

/* 수정 모드 텍스트 영역 스타일 */
.edit-textarea {
  height: 350px; /* 텍스트 영역의 높이 설정 */
  margin-top: 20px; /* 텍스트 영역의 상단 여백 조정 */
}

/* 수정 모드 버튼 공통 스타일 */
.save-button,
.cancel-button {
  padding: 8px 12px; /* 버튼의 패딩 설정 */
  font-size: 14px; /* 버튼의 글꼴 크기 설정 */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px auto; /* 버튼을 수평 중앙으로 이동 */
  width: 100px; /* 버튼 가로 길이 설정 */
  display: block; /* 버튼을 블록 요소로 지정하여 가로 중앙 정렬을 위한 margin auto 사용 */
}

/* 저장 버튼 스타일 */
.save-button {
  background-color: #F2CB61;
  color: white; /* 텍스트 색상 설정 */
}

/* 취소 버튼 스타일 */
.cancel-button {
  background-color: #F2CB61;
  color: white; /* 텍스트 색상 설정 */
}

/* 수정 모드 버튼 컨테이너 */
.button-container {
  text-align: center; /* 버튼을 수평 중앙으로 이동 */
}

.comments-section {
  margin-top: 20px;
}

.comment-delete-button {
  background-color: #F2CB61; /* 배경색 설정 */
  border: none; /* 테두리 제거 */
  cursor: pointer; /* 커서 설정 */
  padding: 8px 12px; /* 내부 여백 설정 */
  border-radius: 4px; /* 모서리 둥글게 설정 */
  width: 60px; /* 가로 길이 설정 */
  margin-top: -70px; /* 위로 이동 */
  margin-left: 210px;
}