.postdetail-box {
  width: 50%;
  height: 550px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin: 3px auto;
  background-color: white;
}

.postdetail-box h1 {
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: left;
}

.postdetail-box p {
  margin: 3px;
  text-align: left;
}

.postdetail-box hr {
  margin: 20px 0;
  border: none;
  border-top: 1px solid #ccc;
}

.postdetail-box .toggle-button {
  width: 40px;
  margin-right: 10px;
  padding: 10px 20px;
  background: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -197px;
}

.postdetail-box .toggle-button img {
  width: 40px;
  height: 40px;
}

.postdetail-box .toggle-button:hover {
  background-color: transparent;
}

.postdetail-box .button-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: -210px;
}

.postdetail-box .button-container .edit-button,
.postdetail-box .button-container .delete-button {
  width: auto;
  padding: 10px;
  margin: 3px;
  background-color: transparent;
  color: black;
}

.postdetail-box .vertical-separator {
  width: 1px;
  height: 30px;
  background-color: #ccc;
  margin-top: -20px;
  margin-right: 10px;
}

.content-wrapper {
  margin-bottom: -140px;
}

.content-wrapper hr {
  margin-top: 160px;
  border: none;
  border-top: 1px solid #ccc;
}

.comments-section {
  margin-top: 70px;
}

.comments-section h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.comments-section ul {
  list-style-type: none;
  padding: 0;
}

.comments-section li {
  margin-bottom: 15px;
}

.comments-section p {
  margin: 0;
}

.comments-section textarea {
  width: 85%;
  height: 20px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: none;
}

.comment-item {
  border-bottom: 1px solid #ccc;
  padding-bottom: 25px;
}

.comment-item:last-child {
  border-bottom: none;
}

.comment-item p {
  margin-bottom: 5px;
}

.comments-section .comment-button {
  width: 70px;
  height: 43px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #F2CB61;
  color: white;
  text-align: center;
  line-height: 10px;
  margin-right: 10px;
  margin-top: -56px;
}

/* 수정 모드 입력 필드 스타일 - 입력 필드 */
.edit-input {
  width: 800px;
  padding: 10px;
  margin-top: 40px;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
}

/* 수정 모드 입력 필드 스타일 - 텍스트 영역 */
.edit-textarea {
  width: 800px;
  height: 350px;
  padding: 10px;
  margin-top: 20px;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
}

/* 포커스 시 테두리 색상 변경 */
.edit-input:focus, .edit-textarea:focus {
  border-color: black;
  outline: none;
}

/* 저장 버튼 스타일 */
.save-button {
  display: block;
  width: 150px;
  padding: 10px;
  margin-top: 15px;
  margin-right: 850px;
  margin-left: auto;
  color: #fff;
  border: none;
  border-radius: 4px; 
  cursor: pointer;
  background-color: #F2CB61;
  color: white;
}

/* 취소 버튼 스타일 */
.cancel-button {
  display: block;
  width: 150px;
  padding: 10px;
  margin-top: -40px;
  margin-right: 650px;
  margin-left: auto;
  color: #fff;
  border: none;
  border-radius: 4px; 
  cursor: pointer;
  background-color: #F2CB61;
  color: white;
}

/* 댓글 삭제 버튼*/
.comment-delete-button {
  width: 65px;
  margin-top: -55px;
  margin-left: 210px;
  background-color: #F2CB61;
  color: white;
  border: none; 
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.comment-delete-button:hover {
  background-color: #CCA63D;
  color: #fff;
}

.comment-delete-button:active {
  background-color: #CCA63D;
}