@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

.sidebar {
    position: fixed;
    top: 0;
    left: -250px; /* 초기 상태에서 사이드바가 화면 밖에 위치하도록 설정 */
    width: 180px;
    height: 100%;
    background-color: #f4f4f4;
    border-right: 1px solid #ccc;
    padding: 20px;
    transition: left 0.3s ease; /* 애니메이션 효과 추가 */
    z-index: 1000; /* 다른 요소 위에 표시되도록 설정 */
  }
  
  .sidebar.visible {
    left: 0; /* 사이드바가 보일 때 위치 설정 */
  }
  
  .sidebar-img {
    width: 50px; /* 이미지의 너비를 50px로 설정 */
    height: 50px; /* 이미지의 높이를 50px로 설정 */
    display: block;
    margin: 0 auto;
    margin-left: -5px; /* 이미지를 왼쪽으로 25px 이동 */
    cursor: pointer;
  }

  .news-button {
    width: 100%;
    padding: 10px;
    margin-top: 180px; /* 수정된 부분: 위쪽 여백을 추가하여 버튼을 아래로 이동 */
    font-size: 25px;
    color: black;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-family: 'Jua', sans-serif;
  }
  
  .news-button:hover {
    background-color: transparent;
  }

  .chat-button {
    width: 100%;
    padding: 10px;
    margin-top: 30px; /* 수정된 부분: 위쪽 여백을 추가하여 버튼을 아래로 이동 */
    font-size: 25px;
    color: black;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-family: 'Jua', sans-serif;
  }
  
  .chat-button:hover {
    background-color: transparent;
  }

  .information-button {
    width: 100%;
    padding: 10px;
    margin-top: 30px; /* 수정된 부분: 위쪽 여백을 추가하여 버튼을 아래로 이동 */
    font-size: 25px;
    color: black;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-family: 'Jua', sans-serif;
  }
  
  .information-button:hover {
    background-color: transparent;
  }

  .mypage-button {
    width: 100%;
    padding: 10px;
    margin-top: 30px; /* 수정된 부분: 위쪽 여백을 추가하여 버튼을 아래로 이동 */
    font-size: 25px;
    color: black;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-family: 'Jua', sans-serif;
  }
  
  .mypage-button:hover {
    background-color: transparent;
  }